/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 13, 2017, 12:12:45 AM
    Author     : Olakunle Awotunbo
*/

    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
        margin-bottom: 0;
        border-radius: 0;
    }

    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px} 

    /* Set gray background color and 100% height */
    .sidenav {
        padding-top: 20px;
        background-color: #f1f1f1;
        height: 100%;
        margin-top: 20px;
    }

    /* Set black background color, white text and some padding */
    footer {
        background-color: #555;
        color: white;
        padding: 15px;
    }

    img:hover{
        opacity:0.5;
        transition: 1s ease;
    }   

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
        .sidenav {
            height: auto;
            padding: 15px;
        }
        .row.content {height:auto;}
    }

    .dataInizio {
        color: #2da050;

    }

    .date {
        padding: 5px;
        background-color: #dfe1e3
    }
    
    .imgCenter{
        vertical-align:middle;
        text-align:center;
    }
    
    .navbar-nav  li a:active { 
        background-color: yellow !important;
    }
    
    .navbar-nav  li a:visited { 
        background-color: blue;
    }
    
    .navbar-nav  li a:hover {
      background-color: #1abc9c !important;
    }
    
    .active a {

        background-color: green !important;

    }
    
     .small-header{
         margin-top:10px;
         float:left;
         display:block
     }
    
    
